*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

# user specific
*application.properties
.idea/
*Tweets.scala
*TumblrPost.scala
*Rtw.txt
*TumblrPost.txt
